* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: 200;
  line-height: 28px;
  padding: 16px 0;
}

h2 {
  font-size: 72px;
  font-weight: 200;
  line-height: 28px;
  padding-top: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

p {
  font-size: 12px;
  opacity: 0.5;
}

ul {
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

img {
  width: 150px;
}

span.units {
  font-size: 16px;
  position: relative;
  font-size: 16px;
  top: -40px;
  right: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-icon {
  width: 50px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forcast-desc {
  font-size: 13px;
  opacity: 0.5;
}

#description {
  text-transform: capitalize;
}

#celsius-link,
#fahrenheit-link {
  position: relative;
  left: 104px;
  bottom: 14px;
  text-decoration: none;
}

.col-2 {
}
